# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.obj
*.exe
*.ilk
*.pdb

# Qt 관련
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.prl
*.qm
*.autosave

# Qt 프로젝트 설정
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
CMakeLists.txt.user*
*.qmlproject.user
*.qmlproject.user.*
*creator.user*
*_qmlcache.qrc

# 빌드 디렉토리 무시
build/
*build-*/

# Makefile 및 기타
Makefile*
target_wrapper.*
compile_commands.json
